<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <img id="nyt-logo" src="/static/assets/nyt-logo.png" />
      </div>
    </header>
    <main>
      <div id="image-grid" class="main-container"></div>
    </main>
    <script src="../static/main.js"></script>
  </body>
</html>
